<template>
  <span class="red--text">{{ errorMsg }}</span>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      default: '',
    },
    errors: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    errorMsg() {
      let message = ''
      if (!this.errors) {
        return ''
      }
      for (const error of this.errors) {
        if (error.field === this.name) {
          message = error.message
        }
      }
      return message
    },
  },
}
</script>
