<template>
  <v-dialog :value="active" max-width="600px" @click:outside="$emit('close')">
    <v-card>
      <v-form @submit.prevent="addPassword({ password, re_password })">
        <v-card-title>
          <span class="text-h5">لطفا رمز عبور انتخاب کنید.</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="password"
                  label="رمز عبور"
                  type="password"
                  required
                ></v-text-field>
                <NetworkError name="password" :errors="networkErrors" />
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="re_password"
                  label="تکرار رمز عبور"
                  type="password"
                  required
                ></v-text-field>
                <NetworkError name="re_password" :errors="networkErrors" />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            بستن
          </v-btn>
          <v-btn color="blue darken-1" text type="submit"> ارسال </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { ADD_PASSWORD } from '~/endpoints'
import NetworkError from '~/components/common/NetworkError.vue'

export default {
  components: {
    NetworkError,
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      password: '',
      re_password: '',
      networkErrors: null,
    }
  },
  methods: {
    addPassword(passwordObj) {
      this.$axios
        .post(ADD_PASSWORD, { ...passwordObj })
        .then((res) => {
          //   const token = res.data.data.token
          //   const user = res.data.data.user
          //   this.$store.commit('update_user', user)
          //   this.setToken(token)
          this.$emit('done')
        })
        .catch((error) => {
          this.networkErrors =
            error.response.data.error &&
            error.response.data.error.invalid_params
        })
    },
  },
}
</script>
