<template>
  <v-dialog :value="active" max-width="600px" @click:outside="$emit('close')">
    <v-card>
      <v-form @submit.prevent="verifyUser(code)">
        <v-card-title>
          <span class="text-h5">لطفا کد ارسال شده را وارد کنید</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="code"
                  label="کد ارسالی"
                  required
                ></v-text-field>
                <NetworkError name="code" :errors="networkErrors" />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            بستن
          </v-btn>
          <v-btn color="blue darken-1" text type="submit"> ارسال </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { VERIFY_USER } from '~/endpoints'
import NetworkError from '~/components/common/NetworkError.vue'
import auth from '~/mixins/auth.vue'

export default {
  components: {
    NetworkError,
  },
  mixins: [auth],
  props: {
    active: {
      type: Boolean,
      default: false,
    },
    phone: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      code: '',
      networkErrors: null,
    }
  },
  methods: {
    verifyUser(code) {
      this.$axios
        .post(VERIFY_USER, { phone: this.phone, code })
        .then((res) => {
          const token = res.data.data.token
          const user = res.data.data.user
          this.$store.commit('update_user', user)
          this.setToken(token)
          this.$emit('done')
        })
        .catch((error) => {
          this.networkErrors = error.response.data.error.invalid_params
        })
    },
  },
}
</script>
