<template>
  <v-dialog :value="active" max-width="600px" @click:outside="$emit('close')">
    <v-card>
      <v-form @submit.prevent="checkUser(phone)">
        <v-card-title>
          <span class="text-h5">لطفا موبایل را وارد کنید</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="phone"
                  label="موبایل"
                  required
                ></v-text-field>
                <NetworkError name="phone" :errors="networkErrors" />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="$emit('close')">
            بستن
          </v-btn>
          <v-btn color="blue darken-1" text type="submit"> ارسال </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { CHECK_USER } from '~/endpoints'
import NetworkError from '~/components/common/NetworkError.vue'

export default {
  components: {
    NetworkError,
  },
  props: {
    active: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      phone: '',
      status: '',
      networkErrors: null,
    }
  },
  methods: {
    checkUser(phone) {
      this.$axios
        .post(CHECK_USER, { phone })
        .then((res) => {
          this.status = res.data.data
          this.$emit('done', { status: this.status, phone: this.phone })
        })
        .catch((error) => {
          this.networkErrors = error.response.data.error.invalid_params
        })
    },
  },
}
</script>
