<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center">
        <NuxtLogo />
      </v-card>
      کاربر:
      <br />
      {{ user }}
      <v-card>
        <v-card-actions>
          <v-btn
            color="primary"
            class="mx-auto"
            @click="showPhoneDialog = true"
          >
            ورود / ثبت نام
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
    <PhoneDialog
      :active="showPhoneDialog"
      @done="phoneChecked"
      @close="showPhoneDialog = false"
    />
    <CheckCodeDialoge
      :active="showCheckCodeDialoge"
      :phone="phone"
      @done="codeChecked"
      @close="showCheckCodeDialoge = false"
    />
    <AddPasswordDialoge
      :active="showAddPasswordDialoge"
      :phone="phone"
      @done="codeChecked"
      @close="showAddPasswordDialoge = false"
    />
    <EnterPasswordDialoge
      :active="showEnterPasswordDialoge"
      :phone="phone"
      @close="showEnterPasswordDialoge = false"
    />
  </v-row>
</template>

<script>
import { mapState } from 'vuex'
import PhoneDialog from '~/components/ui/PhoneDialog.vue'
import CheckCodeDialoge from '~/components/ui/CheckCodeDialoge.vue'
import AddPasswordDialoge from '~/components/ui/AddPasswordDialoge.vue'
import EnterPasswordDialoge from '~/components/ui/EnterPasswordDialoge.vue'

export default {
  components: {
    PhoneDialog,
    CheckCodeDialoge,
    AddPasswordDialoge,
    EnterPasswordDialoge,
  },
  data() {
    return {
      phone: '',
      showPhoneDialog: false,
      showCheckCodeDialoge: false,
      showAddPasswordDialoge: false,
      showEnterPasswordDialoge: false,
    }
  },
  computed: {
    ...mapState(['user']),
  },
  methods: {
    phoneChecked(e) {
      this.showPhoneDialog = false
      this.phone = e.phone
      switch (e.status) {
        case 0:
          this.showCheckCodeDialoge = true
          break
        case 1:
          this.showAddPasswordDialoge = true
          break
        case 2:
          this.showEnterPasswordDialoge = true
          break
        default:
          break
      }
    },
    codeChecked() {
      this.showCheckCodeDialoge = false
      this.showAddPasswordDialoge = true
    },
  },
}
</script>
